<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
    <link href="/css/styles_productCart.css" rel="stylesheet" />
  </head>

  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <% if(finalProducts.length == 0){%> 
        <section class = "empty-cart">
        <h1 class="headlines centrado margin-10">Tu carrito esta vacio</h1>
        <img class="d-block w-100" src="/images/404/Empty-Red-Shopping-Cart.jpg" alt="Empty Cart">
      </section>
        <% } else { %> 
      <section class="cart-section">
        <h3 class="headlines">Tu carrito</h3>
        <section class="cart-wrapper">
          <section class="margin-sections section-productos-cart">
            <section class="section-productos">
              <% let finalPrice = 0 %> <% for(let finalProduct of finalProducts) { %>
                <div class="contenedor-producto-cart">
                  <div>
                    <img src="/images/productos/<%= finalProduct.products.product_image %>" class="w-100" alt="Trailers" /></a>
                  </div>
                  <div>
                    <h2 class="subs centrado margin-10"><%= finalProduct.products.name %></h2>
                    <p class="centrado"><%= finalProduct.products.price %></p>
                    <p class="centrado"><%= finalProduct.product_colors.name %></p>
                    <p class="centrado"><%= finalProduct.memories.memory %></p>
                  </div>
                  <form action="./finalProducts/<%= finalProduct.id %>?_method=DELETE" method="POST">
                 <button type="submit"><i class="fas fa-trash-alt trash-cart"></i></button>
                 </form>
              </div>
              <%finalPrice = finalPrice + finalProduct.products.price }%>
            </section>
          </section>
          <section class="cart-resume">
            <div class="cart-resume-card" >
              <h2>Resumen</h2>
              <div class="product-cart-list">
                <p>Productos en el carrito:</p>
                <div>
                  <% for(let finalProduct of finalProducts) { %>
                  <p><%= finalProduct.products.name %></p>
                  <%}%>
                </div>
              </div>
              <h3 class="margin-vertical-20">Precio Final: $<%=finalPrice%></h2>
            </div>
              <button class="boton boton-cart">Finalizar Compra</button>
          </section>
        </section>
      </section>
      <% }%> 
    </main>


    <%- include("../partials/footer.ejs") %>
  </body>
</html>
