<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs', {title: "Editando " + product.name }) %>
    <script src="/js/validations/validationsFrontProductEdit.js"></script>
</head>

<body>
  <%- include("../partials/header.ejs") %>
    <main>
      <section class="centrar">
        <h2 class="headlines margin-bottom-20">Editar producto: <%= product.name %>
        </h2>

        <form action="/products/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
          <div id="errorsFront"></div>
          <div class="margin-bottom-15">
            <label for="name" class="subs">Nombre del producto</label>
            <input class="box" type="text" name="name" id="name" value="<%= product.name %>" />
          </div>

          <div class="margin-bottom-15">
            <label for="description" class="subs">Descripción</label>
            <textarea class="box-textarea" type="text" name="description"
              id="description"><%= product.description %></textarea>
          </div>

          <div class="margin-bottom-15">
            <label for="product_image" class="subs">Subir imagen</label>
            <div>
              <input class="margin-bottom-20" type="file" name="product_image" accept="image/*"
                value="<%= product.product_image%>" />
            </div>
          </div>

          <div class="margin-bottom-15">
            <label for="price" class="subs">Precio</label>
            <input class="box" type="text" name="price" id="price" value="<%= product.price %>" />
          </div>

          <div class="buttons-send-erase">
            <button class="buttons" type="submit">Confirmar</button>
            <button class="buttons" type="reset">Resetar informacion</button>
          </div>
        </form>
        <div>
          <a href="./delete"><button class="buttons" type="submit">Eliminar</button></a>
        </div>
      </section>
    </main>

    <%- include("../partials/footer.ejs") %>
</body>

</html>