<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs') %>
    <script src="/js/validations/validationsFrontProductAdd.js"></script>
</head>

<body>
  <%- include("../partials/header.ejs") %>
    <main>
      <section class="centrar">
        <h2 class="headlines margin-bottom-20">Agregar producto</h2>
        <form action="./productAdd" method="POST" enctype="multipart/form-data">
          <div id="errorsFront"></div>
          <div class="margin-bottom-15">
            <label for="name" class="subs">Nombre del producto</label>
            <input class="box" type="text" name="name" id="name" value="<%=locals.old && old.name ? old.name : "" %>">
            <% if (locals.errors && errors.name) { %>
              <div class="rojopirupi">
                <%= errors.name.msg %>
              </div>
              <% } %>
          </div>

          <div class="margin-bottom-15">
            <label for="description" class="subs">Descripción</label>
            <textarea class="box-textarea" type="text" name="description" id="description">
<%=locals.old 
                    && old.description ? old.description : "" %></textarea>
            <% if (locals.errors && errors.description) { %>
              <div class="rojopirupi">
                <%= errors.description.msg %>
              </div>
              <% } %>
          </div>

          <div class="margin-bottom-15">
            <label for="product_image" class="subs">Subir imagen</label>
            <div>
              <input class="margin-bottom-20" type="file" name="product_image" id="product_image" accept="image/*" />
              <% if (locals.errors && errors.product_image) { %>
                <div class="rojopirupi">
                  <%= errors.product_image.msg %>
                </div>
                <% } %>
            </div>
          </div>

          <div class="margin-bottom-15">
            <label for="price" class="subs">Precio</label>
            <input class="box" type="text" name="price" id="price" value=<%=locals.old && old.price ? old.price : "" %>
            > <% if (locals.errors && errors.price) { %>
              <div class="rojopirupi">
                <%= errors.price.msg %>
              </div>
              <% } %>
          </div>

          <div class="buttons-send-erase">
            <button class="buttons" type="submit">Agregar producto</button>
            <button class="buttons" type="reset">Resetar informacion</button>
          </div>
        </form>
      </section>
    </main>
    <%- include("../partials/footer.ejs") %>
</body>

</html>