<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: "Editando " + consol.name }) %>

        <script src="/js/validations/validationsFrontConsolEdit.js"></script>
</head>

<body>
    <%- include("../partials/header.ejs") %>

        <section class="centrar">
            <h2 class="headlines">Editando consola: -<%= consol.name %>-
            </h2>

            <form action="/consols/<%= consol.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div id="errorsFront"></div>
                <div class="margin-bottom-15">
                    <label for="name">Nombre de la consola</label>
                    <input class="box" type="text" name="name" id="name" value="<%= consol.name %>" />
                </div>

                <div class="margin-bottom-15">
                    <label for="consol_image">Cargar imagen</label>
                    <div>
                        <input class="margin-bottom-20" type="file" name="consol_image" id="consol_image"
                            accept="image/*" />
                    </div>
                </div>



                <div class="buttons-send-erase" style="display: block; text-align:center ">
                    <button class="buttons" type="submit">Confirmar</button>

                </div>
            </form>

            <div class="buttons-send-erase" style="display: block; text-align:center ">
                <a href="/consols/<%= consol.id %>/delete">
                    <button class="buttons">Eliminar consola</button>
                </a>
            </div>

        </section>

        <%- include("../partials/footer.ejs") %>
</body>

</html>